[Unit]
Description=Run mycommand at shutdown
Requires=network.target
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /home/awsnodemanagement/startupscript.sh
ExecStop=/bin/bash /home/awsnodemanagement/purgescript.sh

[Install]
WantedBy=multi-user.target
